@charset "UTF-8";

input[type=file]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #fff;
  margin-bottom : 10px;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background: rgb(77,77,77);
    color: #fff;
  }
}

.upload{
  padding: 6px 25px;
  background-color:#337AB7;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}